/*!
 * These WOFF/WOFF2 files are provided under the SIL Open Font License version 1.1
 * For more details, see WOFF extended metadata or https://opensource.org/licenses/OFL-1.1
 */
 @font-face {
  font-display: block;
  font-family: '源暎エムゴ';
  font-weight: 400;
  src: url(/fonts/auto/subset.woff2) format('woff2');
}